<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="header">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/app-main.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}" />
    <link rel="stylesheet" th:href="@{/css/imobiliaria.css}" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/Chart.min.js}"></script>
    <script th:src="@{/js/imobiliaria.js}"></script>
    <meta charset="UTF-8">
<title>Imobiliária</title>
</head>
<body>
    <header th:fragment="navbar">
        <nav class="navbar navbar-default">
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link"
                        th:href="@{/imoveis/cadastro-imovel/}">Cadastro de Imóveis<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                        th:href="@{/imoveis/}">Lista de Imóveis</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a th:text=${principal.usuario.nome} href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/logout">sair</a></li>
                  </ul>
                </li>
              </ul>           
            </div>
        </nav>
    </header>
</body>

</html>