<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: header">
<meta charset="utf-8">
</head>

<body>
    <div class="container p-2">
        <div th:insert="fragments/mensagem :: success-message" th:remove="tag"></div>
        <form>
            <div class="panel panel-default">
            
                <div class="panel-heading">
                    <div class="clearfix">
                        <h1 class="panel-title">Pesquisa de Imóveis</h1>
                    </div>
                </div>
                
                <div class="panel-body">
                    
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                <label for="descricao" class="control-label">Descricao</label>
                                <div>
                                    <input id="descricao" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                <label for="tipo" class="control-label">Tipo</label>
                                <div>
                                    <select class="form-control" id="tipo">
                                        <option value="">Selecione</option>
                                        <option th:each="tipoOpt : ${T(pt.com.example.thymeleafTest.model.TipoImovel).values()}" 
                                            th:value="${tipoOpt}"
                                            th:text="${tipoOpt.descricao}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-sm">
                                <label for="preco" class="control-label">Preço</label>
                                
                                <div class="form-inline row">
                                    <div class="input-group col">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">R$</span>
                                        </div>
                                        <input id="precoMin" type="text" class="form-control js-moeda" />
                                    </div>
                                    
                                    <label class="control-label">até</label>
                                    
                                    <div class="input-group col">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">R$</span>
                                        </div>
                                        <input id="precoMax" type="text" class="form-control js-moeda" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="form-group col-sm-12">
                        <button type="button" onclick="pesquisar()" class="btn btn-info">Pesquisar</button>
                    </div>
                </div>
            </div>
        </form>
        
        <div>
            <table class="table table-striped-blue table-hover">
                <thead>
                    <tr>
                        <th scope="col">Descrição</th>
                        <th class="hidden-sm hidden-xs" scope="col">Preço</th>
                        <th class="hidden-sm hidden-xs" scope="col">Tipo Imóvel</th>
                        <th class="hidden-sm hidden-xs" scope="col">Situação</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody class="tbody-border-primary" id="tabela-imoveis" 
                    th:replace="fragments/tabela-imoveis.html :: tabela-imoveis"></tbody>               
            </table>
        </div>

    </div>
</body>

</html>